body {
    margin: 0px;
    color: #646161;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    font-family: "Comfort";
}

h1 {
    color: rgb(44, 44, 44);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: rgb(44, 44, 44);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.flex-box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 250px;
    margin-top: 40px;
}

.social a img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.social {
    margin-top: 150px;
}

.menu {
    margin-top: 150px;
    font-size: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-right: 35px;
}

.menu a:hover {
    color: #600CAC;
    box-shadow: 0px 1px 0px black;
    border: 0px;
}

.main_info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: rgb(34, 38, 99);
}

.services p {
        display: flex;
    align-items: center;
}

.head {
    padding: 80px 0;
    background-color: rgba(132, 216, 255, 0.8);
    background-image: url(../pictures/freelance.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
}

.main p {
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main a {
    text-decoration: none;
    padding: 5px 30px;
    border: 1px solid rgb(102, 52, 240);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 160px;
}

.main a:hover {
    background-color: #9c9898;
    box-shadow: 0 0 20px 1px rgb(112, 114, 253);
}

.help-block {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.help-block img {
    width: 50px;
    height: 50px;
}

.help-block1 {
    max-width: 400px;
    margin-left: auto;
    text-align: center;
    background-color: rgba(132, 216, 255, 0.8);
    padding-top: 20px;
    color: rgb(34, 38, 99);
}

.help-block2 {
    max-width: 400px;
    text-align: center;
    padding-top: 20px;
}

.help-block3 {
    max-width: 400px;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(132, 216, 255, 0.8);
    color: rgb(34, 38, 99);
}

.examples {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
}

.examples a {
    text-decoration: none;
    padding: 5px 30px;
    border: 1px solid rgb(102, 52, 240);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 176px;
}

.log {
    border-radius: 50%;
}

.flaby {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: 75px;
}


.flaby-text p {
    max-width: 280px;
    margin-top: -6px;
}

.smile img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: -15px;
}

.flaby-text a {
    text-decoration: none;
    color: #600CAC;
}

.description {
    font-size: 24px;
    color: black;
    box-shadow: 0px 1px rgb(60, 7, 250);
}

.flaby-img {
    display: block;
    background-image: url(../pictures/flaby.png);
    width: 540px;
    height: 400px;
    background-size: contain;
    margin-right: 50px;
    background-repeat: no-repeat;
}

.examples a:hover {
    background-color: #9c9898;
    box-shadow: 0 0 20px 1px rgb(112, 114, 253);
}

.dart {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: 80px;
}

.step img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.about_me {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.about-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.about-photo img {
    width: 400px;
    height: 600px;
    box-shadow: 2px 2px 24px;
}

.about_me p:first-child{
    margin-bottom: 20px;
}

.about-text {
    max-width: 400px;
    margin-left: auto;
}

.point img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.about-text p:nth-child(4) {
    margin-top: 60px;
}

.dart-text p{
    max-width: 280px;
    margin-top: -6px;
}

.dart-text a {
    text-decoration: none;
}

.dart-img {
    display: block;
    background-image: url(../pictures/dart.png);
    width: 540px;
    height: 400px;
    background-size: contain;
    margin-right: 50px;
    background-repeat: no-repeat;
}

.extension {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: 80px;
}

.extension a {
    text-decoration: none;
}

.extension-img {
    display: block;
    background-image: url(../pictures/extensions.png);
    width: 540px;
    height: 400px;
    margin-top: -85px;
    background-size: contain;
    margin-right: 50px;
    background-repeat: no-repeat;
}

.extension-text {
    box-sizing: border-box;
}

.extension-text p {
    max-width: 280px;
}

img.dividor {
    width: 100%;
}

footer {
    background-color: rgba(132, 216, 255, 0.8);
    margin-top: 100px;
}

.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 60px;
}

.contact-block {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-block a{
    text-decoration: none;
    color: rgb(118, 52, 241);
    margin-left: 20px;
}

.contact-block a:hover {
    color: rgb(30, 144, 236);
}

.footer-menu a {
    text-decoration-line: none;
    margin-bottom: 20px;
    text-align: center;
    color: #600CAC;
}

.footer-social p {
    margin-bottom: -100px;
    margin-top: 100px;
    padding-right: 45px;
}

.footer-social p:last-child {
    margin-top: 10px;
}

.footer-menu a:hover {
    color: black;
}

.mobile-menu {
    display: none;
}

@media(max-width:1130px) {
    .menu {
        display: flex;
        flex-direction: column;
        line-height: 30px;
        text-align: center;
        font-size: 30px;
    }

    .help-block {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .help-block1 {
        margin-left: auto;
        margin-right: auto;
    }

    .help-block3 {
        margin-left: auto;
        margin-right: auto;
    }

    .help-block2 {
        margin-left: auto;
        margin-right: auto;
    }

    .log {
        display: none;
    }

    .footer-social p {
        display: none;
    }

    .about-text {
        margin-right: auto;
    }

    .about_me {
        flex-direction: column;
    }

    .flaby {
        flex-direction: column;
    }

    .flaby-img {
        margin-left: auto;
        margin-right: auto;
    }

    .extension-img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;;
    }

    .extension {
        flex-direction: column;
    }

    .extension-text {
        margin-left: auto;
        margin-right: auto;
    }

    .flaby-text {
        margin-left: auto;
        margin-right: auto;
    }

    .dart-img {
        margin-left: auto;
        margin-right: auto;
    }

    .dart-text {
        margin-left: auto;
        margin-right: auto;
    }

    .dart {
        flex-direction: column;
    }

    .footer-block {
        flex-direction: column;
    }

    .footer-menu a {
        margin-right: 40px;
    }

    .footer-menu {
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-social {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-social .social {
        margin-top: 30px;
    }

}

@media(max-width:768px) {

    .flex-box-row .social {
        display: flex;
        flex-direction: column;
    }

    .hide {
        display: none;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .footer-block {
        flex-direction: column;
    }

    .footer-menu a {
        margin-right: 40px;
    }

    .footer-menu {
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-social {
        margin-left: auto;
        margin-right: auto;
    }

    .flex-box-row {
        flex-direction: column;
    }

    .flex-box-row .social {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .menu {
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        margin-top: 30px; 
    }

    /* бургер */
    .mobile-menu {
        position: fixed;
        display: flex;
        align-items: center;
        padding: 0 16px;
        top: 20px;
        background-color: rgb(0%, 0%, 0%, 0);
        right: 0;
        height: 50px;
        z-index: 9;
    }
      .mobile-menu__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
      }
      .mobile-menu__icon {
        display: block;
        position: relative;
        background: black;
        width: 90%;
        height: 4px;
        transition: .4s;
      }
      .mobile-menu__icon::after, .mobile-menu__icon::before {
        content: "";
        display: block;
        position: absolute;
        background: black;
        width: 100%;
        height: 4px;
        transition: .4s;
      }
      .mobile-menu__icon::after {
        top: 8px;
      }
      .mobile-menu__icon::before {
        top: -8px;
      }
      .mobile-menu__container {
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 68px;
        left: 0;
        right: 0;
        z-index: 999;
        height: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: .2s;
        overflow: hidden;
        background-color: rgba(80, 80, 80, 0.7);
      }
      .mobile-menu__list {
        transition: .5s;
        transition-delay: .5s;
        list-style: none;
        padding-left: 0;
        margin-top: -50px;
      }
      .mobile-menu__item {
        font-size: 26px;
        padding-bottom: 15px;
      }
      .mobile-menu__link {
        text-decoration: none;
        color: #fff;
      }
      .mobile-menu__checkbox {
        display: none;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
        opacity: 1;
        transition-delay: 0s;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__container {
        height: 40%;
        transition-delay: 0s;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
        background: transparent;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        top: 0;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }   
}

@media (max-width: 550px) {
    .flaby-img {
        display: none;
    }

    .dart-img {
        display: none;
    }

    .step img {
        display: none;
    }

    .menu a {
        margin-right: 0px;
    }
}

@media (max-width:525px) {
    .footer-menu {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }
}

@media (max-width: 410px) {
    .about-photo img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 200px;
        height: 400px;
    }
}